.App {
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  color: white !important;
  position: relative;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}
body::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 84) 80%;
}
