.playing-now {
  color: rgb(7, 57, 73);
}
.movie-data {
  height: 320px;
  font-size: 15px;
  display: flex;
  width: 90%;
  border-radius: 15px;
  font-weight: bold;
  background-size: 400px;
  text-align: left;
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 5px 28px 7px rgba(71, 163, 207, 0.1);
  overflow: hidden;
}
