.movie-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(113, 115, 164, 0.4);
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: #fff;
  flex-direction: column;
}
.movie-overlay div:nth-child(1) {
  text-align: center;
}
.movie-data:hover .movie-overlay {
  opacity: 1;
}
