.playing-now {
  color: rgb(7, 57, 73);
}
.movie-data {
  height: 320px;
  font-size: 15px;
  display: flex;
  width: 90%;
  border-radius: 15px;
  font-weight: bold;
  background-size: 400px;
  text-align: left;
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 5px 28px 7px rgba(71, 163, 207, 0.1);
  overflow: hidden;
}

.btn-section {
  justify-content: center;
}

/*****************************************/
.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #efae1c;
  margin: 20px 20px 20px 20px;
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
}

#button-see-more {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-see-more a {
  position: relative;
  transition: all 0.45s ease-Out;
  color: #efae1c;
  text-decoration: none;
  letter-spacing: 1px;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all 0.5s ease-Out;
}

#button-see-more:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #efae1c;
  transform: rotate(80deg);
}

#button-see-more:hover a {
  color: #fff;
}
