.playing-now {
  color: rgb(7, 57, 73);
}
.movie-data {
  height: 320px;
  font-size: 15px;
  display: flex;
  width: 90%;
  border-radius: 15px;
  font-weight: bold;
  background-size: 400px;
  text-align: left;
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 5px 28px 7px rgba(71, 163, 207, 0.1);
  overflow: hidden;
}
.movie-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(113, 115, 164, 0.4);
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: #fff;
  flex-direction: column;
}
.movie-overlay div:nth-child(1) {
  text-align: center;
}
.movie-data:hover .movie-overlay {
  opacity: 1;
}
