.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-container input {
  width: 350px;
  height: 40px;
  border: 2px solid #ffc286;
  border-radius: 15px 0px 0px 15px;
  padding-left: 20px;
  color: white;
  font-size: 16px;
  background: transparent;
}
.search-container button {
  height: 40px;
  width: 100px;
  background-color: #ffc286;
  border: solid #ffc286;
  font-weight: bold;
  color: white;
  font-size: 16px;
  border-radius: 0px 15px 15px 0px;
}
.search-container input::placeholder {
  color: white;
}
